<div ng-controller='hashtagController'>
    <section id='hashtagHeader'>
        <div>
            <h1>#{{tag.title}}</h1>
        </div>
        <div>
            <ul>
                <li>
                    <a ng-click="showTopTrends(tag._id, $index); hashtagSection=1; expandMain=false">Top</a>
                </li>
                <li>
                    <a ng-click="showLatestTrends(tag._id); hashtagSection=2; expandMain=false" >Latest</a>
                </li>
                <li>
                    <a ng-click="hashtagSection=3; expandMain=true">People</a>
                </li>
                <li>
                    <a ng-click="hashtagSection=4; expandMain=true">Photos</a>
                </li>
                <li>
                    <a ng-click="hashtagSection=5; expandMain=false">Videos</a>
                </li>
            </ul>
        </div>
    </section>

    <div class='mainContent'>
        <aside class='leftAside'>
            <follow class='leftSideFollow'></follow>
            <trends></trends>
            <foot></foot>
        </aside>

        <div class='mainDiv' ng-class={expand:expandMain}>
            <div ng-if="hashtagSection==1">
                <ol ng-repeat='post in tagPosts track by $index'>
                    <li>
                        <post></post>
                    </li>
                </ol>
            </div>


            <div ng-if="hashtagSection==2">
                <ol ng-repeat='post in tagPosts track by $index'>
                    <li>
                        <post></post>
                    </li>
                </ol>
            </div>



            <div ng-if="hashtagSection==3">
                <ol ng-repeat='user in users | unique : "_id"'>
                    <li>
                        <user></user>
                    </li>
                </ol>
            </div>


            <div ng-if="hashtagSection==4">
                <div ng-repeat='photo in hashtagPhotos track by $index' class='hashtag-photos'>
                    <img ng-src="{{photo}}"  data-toggle="modal" data-target="#image-modal" ng-click="expandImage(photo)">
                </div>
            </div>


            <div ng-if="hashtagSection==5">
                <ol ng-repeat='post in hashtagVideos'>
                    <li>
                        <post></post>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>