<div ng-controller='hashtagController'>
    <section id='hashtagHeader'>
        <div>
            <h1>#{{tag.title}}</h1>
        </div>
        <div>
            <ul>
                <li>
                    <a href="" ng-click="showTopTrends(tag._id)">Top</a>
                </li>
                <li>
                    <a href="" ng-click="showLatestTrends(tag._id)">Latest</a>
                </li>
                <li>
                    <a href="" ng-click="showPeople(tag._id)">People</a>
                </li>
                <li>
                    <a href="">Photos</a>
                </li>
                <li>
                    <a href="">Videos</a>
                </li>
            </ul>
        </div>
    </section>

    <div class='mainContent'>
        <aside class='leftAside'>
            <follow class='leftSideFollow'></follow>
            <trends></trends>
            <foot></foot>
        </aside>

        <div class='mainDiv'>
            <div>
                <ol ng-repeat='post in tagPosts track by $index | orderBy: "likes" ' >
                    <li>
                        <post></post>
                    </li>
                </ol>
            </div>


            <div>
                    <ol ng-repeat='post in tagPosts track by $index' >
                        <li>
                            <post></post>
                        </li>
                    </ol>
            </div>

          

            <div>
                <ol ng-show="!show" ng-repeat='user in users | unique : "_id"'>
                    <li>
                        <user></user>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>