body {
  background-color: #e6ecf0;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  color:#1da1f2;
  text-decoration: none;
}

button, a{
  cursor: pointer;
}

.bold{
font-weight: bolder;
}

.filledButton{
  background-color:rgba(29, 161, 242, 0.8);
  border-radius: 100px;
  color:white;
  width: 90px;
  height: 40px;
  border:none;
  font-weight: bolder;
  font-size: 1em;
}
.filledButton:hover{
  background-color:rgb(29, 161, 242);
}

.hollowButton{
  background-color:white;
  border-radius: 100px;
  color:#1da1f2;
  border:1px solid #1da1f2;
  width: 30%;
  height: 33%;
  font-weight: bolder;

}

.hollowButton:hover{
  background-color: #e8f5fd;
}

.greyBorder{
  border: 1px solid #b3b6b7;
}

.black{
    color:black;
}

.grey{
  color:#657786;
}

.blue{
  color:#1da1f2;
}

#searchIcon{
  display:none;
}

/* HEADER */
header{
  background-color:white;
  width: 100%;
  position: fixed;
  top:0px;
  z-index:100;
}


header>div{
  width: 100%;
  padding: 0em 9%;
}
nav>ul{
  height: 50px;
  
}

nav>ul>li{
  display: inline-block;
  height: 100%;
  padding: 0.3em 1em 0em 0em;
 
}

#mainNav img{
  height: 25px;
  position: relative;
  top: 7px;
}

#rightNav img, #logo img, #search{
  height: 35px;
  width: 38px;
  border-radius: 100px;
  object-fit: cover;
} 

#search:focus, #rightNav img:hover{
  border:2px solid #1da1f2;
}

#search{
  width: 210px;
  background-color: #f5f8fa;
  padding:1em;
}

#mainNav{
  float: left;
  width: 35%;
}

#rightNav{
  float: right;
  width:54%;
}

#logo{
  position: relative;
  left: 6%;
  top: 6px;
}

#tweet, #search{
  position: relative;
  top: -11px;
}


#rightNav>ul>li:last-of-type{
  padding:0em;
}

#rightNav ul{
  float: right;
}

#mainNav li:hover{
  color:#1da1f2;
  border-bottom: 2px solid #1da1f2;
}

  /* profile drop down menu */
  
  .profile-wrapper ul{
    position: absolute;
    line-height: 1em;
    z-index: 10;
    background-color: white;
    border: 1px solid #1da1f2;
    width: 16%;
    left: 68%;
    top: 101%;
    border-radius: 5%;
  }
  
  .profile-wrapper li a, .search-wrapper li a{
    display: block;
    color: black;
    text-indent: 30px;
    line-height: 2.5em;
    border-radius: 5%;
  }
  

  .profile-wrapper li a:hover{
    background-color: #1da1f2;
    cursor: pointer;
    color:white;
  }

  .profile-wrapper h1{
    font-weight: bold;
    padding:0.5em 0em;
  }

  .profile-wrapper h2{
    color: #657786;
    font-weight: 100;
  }

  .search-wrapper{
    position: absolute;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #1da1f2;
  }



  .search-wrapper span:first-of-type{
    color:black;
  }
  .search-wrapper span:last-of-type{
    color:gray;
    padding:0em 0.5em;
  }

  .search-wrapper li{
    padding:0.5em;
  }

  .search-wrapper li:hover{
    background-color: #eff2f4;
  }


  .search-wrapper span{
    position: relative;
    top: -12px;
  }


  #hiddenSearch{
    position: absolute;
    top: 48px;
    height: 48px;
    width: 90%;
    left: 23px;
    font-size: 1.4em;
    border: 1px solid #1da1f2;
    border-radius: 10px;
  }