html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Noto Sans';
}

#main-login-pg{
    height: 100%;
    overflow: auto;
}

/* LOGIN LEFT SIDE */

#login-left-side-container{
    background-color: rgb(29, 163, 242);
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#login-page-big-bird-logo{
    position: relative;
    top: -10%;
    left: 20%;
    width: 130%;
}

#login-left-text-container{
    position: absolute;
    top: 200px;
    left: 12%;
    width: 30%;
    height: 60%;
    color: white;
}


.login-left-text-row:nth-child(2){
    margin-top: 8%;
    margin-bottom: 8%;
}

.login-left-icons{
    width: 10%;
    -webkit-filter:invert(100%);
    vertical-align: middle;
}

.login-left-text{
    font-weight: bold;
    margin-left: 5%;
    font-size: 1.1em;
    vertical-align: middle;
}

/* LOGIN RIGHT SIDE */

#login-right-side-container{
    background-color: white;
    float:left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 8em 9em 0 9em;
    overflow: hidden;
}

.login-right-header{
    margin-bottom: 5%;
}

.login-right-logo{
    width: 10%;
    margin-bottom: 6%;
    margin-left: 30%;
}

.login-right-title{
    font-size: 1.6em;
    font-weight: bold;
    padding-right: 2em;
    line-height: 140%;
}

#login-right-join{
    font-weight: bold;
    font-size: 1em;
    margin-top: 12%;
}

#login-right-buttons{
    width: 80%;
}

.log-pg-btn{
    all:unset;
    border: 1px solid rgb(29, 163, 242);
    border-radius: 20px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    /* color: white; */
    padding: 0.6em;
    font-size: 0.9em;
    font-weight: bold;
}

#login-pg-sign-btn{
    color: white;
    background-color: rgb(29, 163, 242);
    cursor: pointer;
}

#login-pg-sign-btn:hover{
    background-color: rgb(3, 110, 174);
}

#login-pg-log-btn{
    color: rgb(29, 163, 242);
    background-color: white;
    cursor: pointer;
}

#login-pg-log-btn:hover{
    background-color: rgb(234,245,253);
}


/* FOOTER */
/* 
footer{
    display: block;
    height: 7%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 0.7em;
    text-align: center;
}

#footer-ul{
    list-style-type: none;
}

#footer-ul>li{
    display: inline;
    margin: 0 1%;
    font-size: 0.7em;
    color: rgb(115, 196, 244);
}

#footer-ul>li>a{
    all:unset;
    cursor: pointer;
}

#footer-ul>li>a:hover{
    text-decoration: underline;
} */

/* LOGIN AND SIGNUP FORMS */

#login-right-side-container-signup-field, 
#login-right-side-container-login-field{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 5em 3em 1em 5em;
}

#login-right-join-signup,
#login-right-join-login{
    font-weight: bold;
    font-size: 1em;
    margin-top: 8%;
}

#signup-form,
#login-form{
    width: 80%;
    text-align: center;
}

#signup-form>input,
#login-form>input{
    all:unset;
    display: inline-block;
    width: 100%;
    margin-bottom: 4%;
    border-bottom: 1px solid rgb(29,163,242);
    color: rgb(7,152,238);
    padding-bottom: 0.3em;
}

#signup-form>input::placeholder,
#login-form>input::placeholder{
    color: rgb(175, 226, 255);
}

#signup-form>input#login-page-signup-submit,
#login-form>input#login-page-login-submit{
    width: 90%;
    border: none;
    border-radius: 20px;
    background-color: rgb(29, 163, 242);
    color: white;
    font-weight: bold;
    padding: 0.6em;
    margin-top: 5%;
    cursor: pointer;
}

#signup-form>input#login-page-signup-submit:hover,
#login-form>input#login-page-login-submit:hover{
    background-color: rgb(3, 110, 174);
}

#login-page-login-form-sign-text{
    display: inline-block;
    width: 100%;
}

#login-page-login-form-sign-text>span{
    display: inline-block;
    vertical-align: middle;
    color: rgb(29, 163, 242);
    margin-top: 1%;
}

#login-page-login-form-sign-btn{
    margin-left: 5%;
    width: 30%;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: rgb(29, 163, 242);
    border: 1px solid rgb(29, 163, 242);
    font-weight: bold;
    padding: 0.6em;
    cursor: pointer;
}

#login-page-login-form-sign-btn:hover{
    background-color: rgb(234,245,253);
}

#signup-form-disclamer{
    font-size: 0.7em;
    color: gray;
    text-align: left;
    line-height: 120%;
}

#signup-form-disclamer>a{
    color: rgb(29, 163, 242);
    cursor: pointer;
}

#error-message-box-signup,
#error-message-box-login{
    color: red;
    font-size: 0.8em;
    font-style: italic;
}

.hidden-error{
    display: none;
}

/* RESPONSIVE */

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    #login-right-side-container,
    #login-left-side-container{
        float: none;
        width: 100%;
        height: 30%
    }

    #login-right-side-container{
        height: 70%;
        padding: 13em 0 0 10em;
    }

    #login-left-text-container{
        top: 90px;
        left: 32%;
        height: unset;
        width: 50%;
    }
    .login-right-header{
        margin-bottom: 0;
    }

    .login-right-title{
        font-size: 2em;
    }

    .login-right-logo{
        margin-left: 33%;
    }

    #login-right-join{
        font-size: 1.2em
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}