.post-section h1, .post-section p, .post-section div{
    display: inline-block;
    color:black;
}

.post-section, .post-section>div, .post-section p{
    width: 100%;
}

.post-section h1{
    font-weight: bold;
    font-size:1.3em;
    line-height: 1.4em;
    margin-bottom: 1em;
}

.post-section h1~span{
    margin:0em 0.5em;
    color:gray;
}

.posts-item-header{
    height: auto;
    width: 100%;
}

.posts-frame-content{
    height: 50%;
    width: 100%;
}

.posts-action-list{
    height: 20%;
    width: 100%;
}

.posts-user-photo{
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    width: 12%;
    height: 52px;
}

.posts-photo, .posts-video{
    margin: 1em 2em 0em 4em;
}

.post-section>div{
    padding: 1.5em 1.5em 0em 1.5em;
}

.posts-item-header>div, .posts-action-list{
    float: right;
    width: 85%;
}

.posts-action-list li {
    display: inline-block;
    margin:1em 3em 1em 0em;
    color: gray;
    cursor: pointer;
}

.posts-action-list li:hover, .post-drop-down:hover{
 color: rgb(29, 163, 242);
}

section.post-section:hover{
    background-color:#f5f8fa;
    cursor: pointer;
}

section.post-section{
   border-top:1px solid #e8f5fd;
}


.posts-frame-content{
    border-radius: 10px;
}

.post-drop-down{
    color: gray;
    font-size: 3em;
    font-weight: lighter;
    float: right;
    line-height: 0.3;
    cursor: pointer;

}

.posts-frame-content img, .posts-frame-content iframe{
    object-fit: contain;
    width: 89%;
    height: 300px;
    border-radius: 15px;
}

.posts-frame-content div{
    width: 100%;
    margin: 1em -1em;
    height: auto;
}