<div id="profile-page-main" ng-app='mainApp' ng-controller='profileController'>
    <div id="profile-page-header">

        <div id="profile-page-profile-picture-nav-container">
            <img ng-src="{{userProfile.profilePicture}}" alt="" id="profile-page-profile-picture-nav">
        </div>

        <div id="profile-page-header-banner-container">
            <img ng-src="{{userProfile.headerPicture}}" alt="" id="profile-page-header-banner">
        </div>

        <div id="profile-page-header-nav-container">

            <ul id="profile-page-header-nav">
                <li ng-click="sectionInUse = 1">
                    <p class="profile-page-nav-title">Tweets</p>
                    <p class="profile-page-nav-numbers" id="profile-page-nav-tweets">{{userProfile.posts.length}}</p>
                </li>
                <li ng-click="sectionInUse = 2">
                    <p class="profile-page-nav-title">Following</p>
                    <p class="profile-page-nav-numbers" id="profile-page-nav-following">{{userProfile.following.length}}</p>
                </li>
                <li ng-click="sectionInUse = 3">
                    <p class="profile-page-nav-title">Followers</p>
                    <p class="profile-page-nav-numbers" id="profile-page-nav-followers">{{userProfile.followers.length}}</p>
                </li>
                <li ng-click="sectionInUse = 4">
                    <p class="profile-page-nav-title">Likes</p>
                    <p class="profile-page-nav-numbers" id="profile-page-nav-likes">{{userProfile.likes.length}}</p>
                </li>
            </ul>

            <button class="profile-page-nav-button" id="profile-page-edit-profile-button" ng-show="isFollowing === 0" ng-click="goToSettings($event)">
                Edit profile
            </button>

            <button class="profile-page-nav-button" id="profile-page-follow-button" ng-show="isFollowing === 2" ng-click="followUser($event, userProfile._id)">
                Follow
            </button>
            <button class="profile-page-nav-button" id="profile-page-unfollow-button" ng-show="isFollowing === 1" ng-click="unfollowUser($event, userProfile._id)">
                Unfollow
            </button>
        </div>


    </div>

    <div class='mainContent' id="profile-page-inner-content-div">
        <aside id='profile-pg-left-aside'>
            <div id="profile-pg-user-details">
                <p id="profile-pg-user-details-name">{{userProfile.name}}</p>
                <p ng-hide="!userProfile.username" id="profile-pg-user-details-username">@{{userProfile.username}}</p>
                <p ng-hide="!userProfile.description" id="profile-pg-user-details-bio">
                    {{userProfile.description}}
                </p>
                <div ng-hide="!userProfile.location" id="profile-pg-user-details-location-container">
                    <img class="profile-details-icon" src="images/icons/location_icon.png" alt="">
                    <span href="https://www.google.bg/maps/place/{{userProfile.location}}" id="profile-pg-user-details-location">{{userProfile.location}}</span>
                </div>
                <div ng-hide="!userProfile.website" id="profile-pg-user-details-web-container">
                    <img class="profile-details-icon" src="images/icons/link_icon.png" alt="">
                    <a href="{{userProfile.website}}" id="profile-pg-user-details-web">{{userProfile.website}}</a>
                </div>
            </div>
            <div ng-hide="userProfile.gallery.length === 0" id="profile-page-user-gallery-container">
                <div id="profile-pg-user-details-gallery-container">
                    <img class="profile-details-icon" src="images/icons/gallery_icon.png" alt="">
                    <span id="profile-page-gallery-title">
                        <span>{{userProfile.gallery.length}}</span> photos and videos</span>
                </div>
                <div id="profile-pg-user-gallery">
                    <div ng-repeat="pic in gallery" class="profile-pg-gallery-pic-container">
                        <img class="profile-pg-gallery-pic" ng-src="{{pic}}" alt="">
                    </div>
                </div>
            </div>
        </aside>

        <div id="profile-page-dynamic-content-container">

            <div ng-show="sectionInUse === 1" id="profile-page-main-div-tweets">
                <div class='mainDiv container' id="profile-page-main-div-tweets-inner">
                    <newpost ng-controller="postController"></newpost>
                    <ol ng-repeat='post in posts'>
                        <li>
                            <post></post>
                        </li>
                    </ol>
                </div>

                <aside class='rightAside' id="profile-page-right-aside-tweets">
                    <follow></follow>
                    <trends id="profile-trends-dir"></trends>
                    <foot></foot>

                </aside>
            </div>

            <div ng-show="sectionInUse === 2" id="profile-page-main-div-following">

                <div ng-repeat="followed in following" class="followed-user-container container">
                    <div class="followed-user-background-container">
                        <img ng-src="{{followed.headerPicture}}" alt="" class="followed-user-background" />
                    </div>

                    <img ng-src="{{followed.profilePicture}}" alt="" class="followed-user-profile-pic" />
                    <button ng-show="followed.followBack == 2" ng-click="followUser($event, followed._id, $index)" class="followed-user-follow-button followed-user-button">Follow</button>
                    <button ng-show="followed.followBack == 1" ng-click="unfollowUser($event, followed._id, $index)" class="followed-user-unfollow-button followed-user-button">Unfollow</button>

                    <div class="followed-user-details">
                        <p class="followed-user-name">
                            <a href="#!profile/{{followed.username}}">{{followed.name}}</a>
                        </p>
                        <a ng-show="followed.username" class="followed-user-username" href="#!profile/{{followed.username}}">@{{followed.username}}</a>
                        <p ng-show="followed.description" class="followed-user-bio">{{followed.description}}</p>
                    </div>

                </div>
            </div>

            <div ng-show="sectionInUse === 3" id="profile-page-main-div-followers">

                <div ng-repeat="follower in followers" class="follower-container container">
                    <div class="follower-background-container">
                        <img ng-src="{{follower.headerPicture}}" alt="" class="follower-background" />
                    </div>

                    <img ng-src="{{follower.profilePicture}}" alt="" class="follower-profile-pic" />
                    <button ng-show="follower.followBack == 2" ng-click="followUser($event, follower._id, $index)" class="follower-follow-button follower-button">Follow</button>
                    <button ng-show="follower.followBack == 1" ng-click="unfollowUser($event, follower._id, $index)" class="follower-unfollow-button follower-button">Unfollow</button>

                    <div class="follower-details">
                        <p class="follower-name">
                            <a href="#!profile/{{follower.username}}">{{follower.name}}</a>
                        </p>
                        <a ng-show="follower.username" class="follower-username" href="#!profile/{{follower.username}}">@{{follower.username}}</a>
                        <p ng-show="follower.username" class="follower-bio">{{follower.description}}.</p>
                    </div>

                </div>

            </div>

            <div ng-show="sectionInUse === 4" id="profile-page-main-div-likes">
                <div class='mainDiv container' id="profile-page-main-div-likes-inner">

                    <ol ng-repeat='post in likes'>
                        <li>
                            <post></post>
                        </li>
                    </ol>
                </div>

                <aside class='rightAside' id="profile-page-right-aside-likes">
                    <follow></follow>
                    <trends id="profile-trends-dir"></trends>
                    <foot></foot>

                </aside>
            </div>

        </div>

    </div>

</div>