<div id='profileDiv'  class="container">
        <img ng-src="{{user.headerPicture}}">

        <img ng-src="{{user.profilePicture}}">
        <div>
          <div ng-show='false'>{{user._id}}</div>
          <a href="#!profile/{{user.username}}">
            <h1 class='black'>{{user.name}}</h1>
          </a>
          <br/>
          <a href="#!profile/{{user.username}}">
            <h2 class='grey'>@{{user.username}}</h2>
          </a>
        </div>
        <div>
          <table>
            <tr class='grey bold'>
              <td><a href="#!profile/{{user.username}}">Tweets</a></td>
              <td><a href="#!profile/{{user.username}}">Following</a></td>
              <td><a href="#!profile/{{user.username}}">Followers</a></td>
            </tr>
            <tr class='blue bold'>
              <td><a href="#!profile/{{user.username}}" ng-click="sectionInUse=1">{{user.posts.length}}</a></td>
              <td><a href="#!profile/{{user.username}}" ng-click="sectionInUse=2">{{user.following.length}}</a></td>
              <td><a href="#!profile/{{user.username}}" ng-click="sectionInUse=3">{{user.followers.length}}</a></td>
            </tr>
          </table>
        </div>
      </div>