<section class='post-section'>
    <div>
        <div ng-show="false">{{post._id}}</div>
        <div class="posts-item-header">
            <a href="#!profile/{{post.userUsername}}">
                <img ng-src="{{post.profilePicture}}" class="posts-user-photo">
            </a>
            <div>
                <span class='deletePost' ng-click="deletePost(post._id, $index)" ng-if="post._userId === userInSession._id">&#xd7;</span>
                <a href="#!profile/{{post.userUsername}}">
                    <h1>{{post.userName}}</h1>
                    <span>@{{post.userUsername}}</span>
                </a>

                <p ng-bind-HTML="post.retweetText" class='post-section' ng-click="retweetReplyPost(post)" data-toggle="modal" data-target="#postModal"
                    ng-show="post.retweetText"></p>
                <p ng-bind-HTML="post.text" class='post-section' ng-click="loadReplies(post)" data-toggle="modal" data-target="#postModal"></p>
            </div>

        </div>
        <div class="posts-frame-content" ng-if="post.videos.length>0 || post.photo">
            <div>
                <img ng-src="{{post.photo}}" class='posts-photo' ng-show='post.photo' data-toggle="modal" data-target="#image-modal" ng-click="expandImage(post.photo)">
            </div>
            <div ng-show="!post.photo">
                <a href="{{post.videos[0]}}" target="_blank" class='posts-video'>
                    <iframe ng-if="post.videos.length>0" ng-src="{{post.videos[0] | trusted}}" frameborder="0"></iframe>
                </a>
            </div>
        </div>
        <div class="posts-action-list">
            <ul>
                <li ng-click="retweetReplyPost(post)" data-toggle="modal" data-target="#replyModal">&#x1F4AC; Reply
                    <span>{{post.replies.length}}</span>
                </li>
                <li ng-click="retweetReplyPost(post)" data-toggle="modal" data-target="#retweetModal"> &#x21ba; Retweet
                    <span>{{post.retweets.length}}</span>
                </li>
                <li ng-click="likePost(post)">
                    <span ng-class={liked:post.liked}>
                        &#x2661; Like
                        <span>{{post.likes.length}}</span>
                    </span>
                </li>
            </ul>
        </div>

    </div>

</section>