<section class='postSection'>
        <div>
            <img src="../images/home/photo.jpg" id="profilePic">
            <textarea ng-model="tweetText" cols="90" rows="5" maxlength="245" placeholder="What's happening?"></textarea>
        </div>

        <div>
                <ul>
                    <li>
                        <label for="#photo">
                                <img src="../images/home/icons/uploadPhoto.png" class="upload"/>
                        </label>
                        <input type="file" accept="image/*" multiple="false" style="display:none" id="photo">
                    </li>
                    <li>
                        <img src="../images/home/icons/gif.png" class="upload" id='gif'>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">
                            <button ng-click="addPost()" class="filledButton">Tweet</button>
                        </a>
                    </li>
                </ul>
            </div>

    </section>